<h4> New Tenant Form: </h4>

<form action="/tenants" method="post">

<label>Name:</label>
<input type="text" name="tenant[name]" placeholder="Write tenant's name"/>


<select name="tenant[apartment_id]">
    <option disabled selected> -- Select an apartment -- </option>
    <% @apartments.each do |apartment| %>
        <option value=<%= apartment.id %> > 
            <%= apartment.address %> 
        </option>
    <% end %>

</select>

<label>Create an Apartment:</label>
<input type="text" name="apartment[address]" />

<input type="submit" value="Create a new tenant!">

</form>